body {
  background-color: #1e272e;
  margin: 0;
  padding: 0;
}

.header {
  margin-left: 10%;
  margin-right: 10%;
}

.header h3 {
  font-size: 20px;
  float: right;
  color: #e2eaf2;
}

#url_input {
  width: 350px;
  text-align: center;
  background-color: #C0C0C0;
  padding: 5px;
  border-radius: 5px;
}

.btn {
  margin: 15px 5px 10px 5px;
  width: 170px;
  font-size: 14px;
  color: #e2eaf2;
  background-color: #485460;
  padding: 5px;
  border-radius: 3px;
  font-weight: bold;
}

.btn:hover {
  background-color: #182430;
}
